<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/static/css/output.css" rel="stylesheet" />
    </head>
    <body class="bg-stone-900 text-stone-200">
        <div class="flex flex-col flex-wrap gap-8 items-center p-2">
            <!-- header -->
            <div
                class="flex justify-center items-center p-4 w-full rounded-lg bg-stone-800"
            >
                <h1 class="text-3xl font-bold capitalize">Gossip</h1>
            </div>

            <!-- rooms -->
            <div>
                <h1>Rooms</h1>
                <ul>
                    {{if eq (len .) 0}}
                    <li>No Rooms</li>
                    {{end}}
                    {{range .}}
                    <div>
                        <a href="/rooms/{{.RoomId}}">{{.Name}}</a>
                    </div>
                    {{end}}
                </ul>
            </div>
        </div>
    </body>
</html>
