<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/static/css/output.css" rel="stylesheet" />
    </head>
    <body class="bg-stone-900 text-stone-200">
        <div class="flex flex-col flex-wrap gap-8 items-center p-2">
            <!-- header -->
            <div
                class="flex justify-center items-center p-4 w-full rounded-lg bg-stone-800"
            >
                <h1 class="text-3xl font-bold capitalize">Gossip</h1>
            </div>

            <!-- rooms -->
            <div class="flex flex-col w-2/3 gap-4">
                <div>
                    <h1 class="text-2xl font-bold capitalize">Rooms</h1>
                </div>

                <div class="flex flex-col gap-2">
                    {{if eq (len .) 0}}
                    <p class="italic text-stone-600 text-center">No rooms</p>
                    {{end}}
                    {{range .}}
                    <a href="/rooms/{{.RoomId}}" >
                        <div class="rounded-lg bg-stone-700 p-4">
                            <h1 class="font-bold capitalize">{{.Name}}</h1>
                        </div>
                    </a>
                    {{end}}
                </div>
            </div>
        </div>
    </body>
</html>
